.frame2Headings {
    text-align: center;
    color: #007BA7;
}

.frame2Heading {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}

.frame2Paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.frame2container {
    display: flex;
    justify-content: space-between;
}

.frame2card {
    margin: auto 40px;
    padding: 0px 0px 20px 20px;
    flex: 1;
}

.frame2card2 {
    margin: auto 40px;
    padding: 20px;
    flex: 1;
    text-align: center;
}

.card3 {
    margin: auto 40px;
    padding: 0px 20px 20px 20px;
    flex: 1;
}

.frame2cards {
    padding: 20px 0px;
}

.frame2heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: #007BA7;
}

.frame2containerPara {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #2C92B1;
}

.recipies-btn {
    padding: 15px 60px;
    width: 256px;
    height: 54px;
    background: #FAAE02;
    border-radius: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.lambCard{
    margin-bottom:50px;
    text-align: center;

}
@media only screen and (max-width: 800px) {
    .frame2container {
      flex-direction: column;
    }
    .frame2card2{
        padding: 0px;
        margin: 0px;
    }
    .lambCard{
        width: 100%;
    }
  }